.Admin-Container {
    width: 100vw;
    height: 100vh;
    padding: 16px;
}

.Admin-Title {
    margin: 10px;
    border-radius: 10px;
    background: #0077b6;
}

.Admin-Title-Light {
    margin: 10px;
    border-radius: 10px;
    background: rgb(127, 187, 218);
}

.Admin-Body {
    padding: 10px;
    overflow-y: hidden;
}

.Admin-Right-Light {
    padding: 2px;
    background: rgba(255, 255, 255, .7);
    border-radius: 15px;
    height: 84vh;
}

.Admin-Right {
    padding: 15px;
    background: rgba(255, 255, 255, .7);
    border-radius: 15px;
    height: 84vh;
}

.chakra-icon:hover {
    opacity: .5;
}

.Admin-NewRecord {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #8d99ae;
    height: 44px;
    padding: 10px;
}

.Admin-SelectedRecord-Light {
    border-radius: 10px;
    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    background: white;
    height: 70px;
    padding: 15px;
}

.Admin-SelectedRecord {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: grey;
    padding: 15px;
}

.Admin-SideBar-Light {
    padding: 10px 16px 0 16px;
    height: 84vh;
    border-radius: 15px;
    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    background: white;
}

.Admin-SideBar-Light form {
    border-radius: 20px;
    color: grey;
    background: white;
}

.Admin-SideBar {
    padding: 10px 16px 0 16px;
    height: 84vh;
    border-radius: 15px;
    border: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .5);
    background: grey;
}

.Admin-SideBar form {
    border-radius: 20px;
    color: grey;
    background: white;
}

.Admin-List {
    overflow-y: auto;
}

.Admin-Form-Light {
    border-radius: 10px;
    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    background: white;
    padding: 5px;
    overflow-y: auto;
}

.Admin-Form {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: grey;
    padding: 5px;
    overflow-y: auto;
}

