.full-display {
    margin: 20px;
}

.full-display .Containers {
    overflow: hidden;
    position: relative;
}

.full-display .Containers,
.full-display .Title {
    background-color: rgba(128, 128, 128, 0.25); 
    border: solid;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
